.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.3fr 2.5fr 0.2fr;
  gap: 1em 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar navbar navbar"
    ". content ."
    ". footer .";
}

.navbar {
  grid-area: navbar;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
