---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const pages = await getCollection("pages", ({ data }) => data.publish);
  return pages.map((page) => ({ params: { slug: page.id }, props: { page } }));
}

const { page } = Astro.props;
const { Content } = await render(page);
---

<Layout title={page.data.title} description={page.data.description}>
  <article class="prose">
    <h1>{page.data.title}</h1>
    <Content />
  </article>
</Layout>
