---
import { Image } from "astro:assets";
import profilePhoto from "../assets/profile.png";

interface Props {
  tagline: string;
}

const { tagline } = Astro.props;
---

<div class="profile">
  <Image
    src={profilePhoto}
    alt="Stefan Hoth"
    class="photo"
    width={112}
    height={112}
    densities={[1, 2]}
    format="webp"
    loading="eager"
    fetchpriority="high"
  />
  <div>
    <h1>Stefan Hoth</h1>
    <p class="tagline">{tagline}</p>
    <p class="location">Based near Dresden, Germany</p>
  </div>
</div>

