---
// Profile component with photo, name, and tagline
---

<div class="profile">
  <img src="/img/profile/profile.png" alt="Stefan Hoth" class="photo" width="300" height="300" />
  <h1>Stefan Hoth</h1>
  <p class="tagline">Engineering Leader | Parent | Hobby Photographer</p>
  <p class="location">Based near Dresden, Germany</p>
</div>

