---
// Quote component with Amy C. Edmondson quote
---

<div class="quote">
  <blockquote>
    "Leadership at its core is about harnessing others' efforts to achieve something no one can achieve alone."
  </blockquote>
  <cite>– Amy C. Edmondson, The Fearless Organization</cite>
</div>

